#c {
    width: 100vw;
    outline: 0;
    image-rendering: pixelated; /* You definitely want this if you are doing pixel art */
    background-color: #000;
    -webkit-box-shadow:0px 0px 0px 4px #fff;
    -moz-box-shadow:0px 0px 0px 4px #fff;
    box-shadow:0px 0px 0px 4px #fff;
    /* cursor: none; */
}

/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Input whatever aspect ratio you use here */
@media (min-aspect-ratio: 9/16) {
    #c {
        height: 100vh;
        width: auto;
    }
}

@media (orientation: portrait)
    and (max-device-width: 800px) {
    #c {
        height: calc(100vh - 75px);
    }
}
